<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vue.js To-do App</title>
<link rel="stylesheet" href="src/style.css">
</head>
<body>
<div class="app-container">
<div id="app">
  <h1>To-do-Liste von Alexandru Sonic</h1>
  <div class="input-group">
  <input v-model="newTask" @keyup.enter="addTask" placeholder="Neue Aufgabe hinzufügen">
  <button @click="addTask">Add Task</button>   
  </div>   
  <h2>Alle Aufgaben</h2>
  <ul v-for="(task, index) in tasks" :key="index" :class="{ completed: task.completed }">
      <div class="task">
        <div class="task-content">{{ task.text }}</div>
        <div class="task-actions">
            <button @click="toggleCompleted(task)" :class="{ 'button-completed': task.completed }">✔️</button>
            <button @click="removeTask(index)">❌</button>
        </div>
    </div>  
  </ul>
  <div>
    <h2>Erledigte Aufgaben({{ completedTasks.length }})</h2>
    <ul v-for="task in completedTasks" :key="task.id" >
      <div class="task1">
      {{ task.text }}
      </div>
    </ul>
  </div>
  <div>
    <h2>Nicht erledigte Aufgaben ({{ notCompletedTasks.length }})</h2>
    <ul v-for="task in notCompletedTasks" :key="task.id">
      <div class="task2"> 
      {{ task.text }}      
      </div>
    </ul>
  </div> 
</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="src/task.js"></script>
</div>
</body>
</html>
